.fact__item:not(:last-of-type) {
    margin-bottom: 20px;
}

.fact__wrapper {
    margin-bottom: 150px;
    text-align: justify;
}

.fact__item {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.fact__header {
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
}