@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,italic700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans', sans-serif
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.background-header {
  background: #1A191E;
}
.background-main {
  background: #2c2b30;
}

.background-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: #1A191E;
  z-index: 100;
}