.background-header {
    background: #1A191E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 3vw;
    /* margin: 0 auto;
  max-width: 1400px; */
}

.menuContainer>* {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.searchInput {
    height: 5vh;
}