.movie {
    width: 240px;
    margin: 20px 10px 10px;
    color: white;
    position: relative;
    transition: background-color .3s ease-in-out;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.movie__dark__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    opacity: 0.3;
    border-radius: 15px;
    transition: .4s;
}

.movie:hover .movie__dark__hover{
    background-color: black;
}

.movie img {
    /* max-height: 50vh; */
    max-width: 240px;
    height: 360px;
    border-radius: 15px;
}


.movie:hover .movie__hoverDesc {
    visibility: visible;
    opacity: 1;
    background-color: rgb(90, 90, 90);
    box-shadow: 0 0 0, 2px 2px 2px #1d1d1d, -2px 2px 2px #1d1d1d;

}

.movie:hover {
    background-color: rgb(90, 90, 90);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.movie__description {
    margin-bottom: 30px;
    padding: 10px;
}

.movie__hoverDesc {
    visibility: hidden;
    position: absolute;
    top: 100%;
    z-index: 99;
    opacity: 1;
    width: 100%;
    height: 200px;
    transition: background-color .3s ease-in-out, visibility .1s ease-in;
}


/* scroll */
.movie__hoverDesc {
	overflow-y:scroll;
	overflow-x:hidden;
}
.movie__hoverDesc::-webkit-scrollbar {
	width: 6px;
}
.movie__hoverDesc::-webkit-scrollbar-trak {
	background: linear-gradient(90deg, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 40%, rgba(154,154,154,1) 40%, rgba(154,154,154,1) 50%, rgba(154,154,154,1) 60%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.02) 100%);
}
.movie__hoverDesc::-webkit-scrollbar-thumb {
	background: #777;
}
/* end scroll */


.movie__genre {
    color: #ffd80e;
    font-size: 14px;
}

.movie__rating {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #fff;
    font-size: 14px;
}

.movie__rating--green {
    border: 2px solid #76ff32;
}

.movie__rating--yellow {
    border: 2px solid #fef31c;
}

.movie__rating--red {
    border: 2px solid #f0886b;
}