.topMovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unvisible {
    display: none;
}