.awards__header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.awards__wrapper {
    margin-bottom: 75px;
}

.awards__noAwards {
    font-size: 1.2rem;
    font-weight: 700;
}